<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>统一认证授权平台</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6" style="margin-top: 6rem;">
      <div class="card" style="width: 32rem;">
        <div class="card-body">
          <h5 class="card-title">统一认证授权平台</h5>
          <a class="btn btn-primary" href="http://localhost:8093/web">示例应用</a>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
</body>
</html>