<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>首页 | OAuth2示例客户端</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4" style="margin-top: 6rem;">
      <div class="card" style="width: 24rem;">
        <div class="card-body">
          <h5 class="card-title">文档管理</h5>
          <a class="btn btn-primary" href="/web/index">点击浏览 -></a>
          <a class="btn btn-light" href="/web/secured-page">测试 -></a>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
</body>
</html>