<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>文章 | OAuth2示例客户端</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6" style="margin-top: 6rem;">
      <div class="card" style="width: 32rem;">
        <div class="card-body">
          <a class="btn btn-light btn-sm float-right" href="/web/logout">注销登录</a>
          <a class="btn btn-light btn-sm mr-2 float-right" href="/web">返回首页</a>
          <h5 class="card-title">文章</h5>
          <div th:each="post, stat : ${posts}">
            <p>
              <span th:text="${stat.count} + '. ' + ${post.title}"></span>
              <br/>
              <span th:text="${post.content}"></span>
              <br/>
              <span th:text="'标签：' + ${post.tags}"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
</body>
</html>